/*
RESET
*/

//*, *:before, *:after{
//  box-sizing: border-box;
//}
//
//html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
//  margin: 0;
//  padding: 0;
//  border: 0;
//  font-size: 100%;
//  font: inherit;
//  vertical-align: baseline;
//  text-rendering: optimizeLegibility;
//  -webkit-font-smoothing: antialiased;
//  text-size-adjust: none;
//}
//
//footer, header, nav, section, main{
//  display: block;
//}
//
//body{
//  line-height: 1.6rem;
//}
//
//ol, ul{
//  list-style: none;
//}
//
//blockquote, q{
//  quotes: none;
//}
//
//blockquote:before, blockquote:after, q:before, q:after{
//  content: '';
//  content: none;
//}
//
//table{
//  border-collapse: collapse;
//  border-spacing: 0;
//}
//
//input{
//  -webkit-appearance: none;
//  border-radius: 0;
//}

/*
FONTS
*/

@font-face {
  font-family: 'Lexend Deca';
  src: url(../assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

/*
BASE INIT
*/

html {
  font-size: 62.5%; // 10px
  font-family: "Poppins";


}

body {
  font-size: 1.5rem;
  line-height: 3.4rem;

  @include media-breakpoint-up(xl) {
    font-size: 1.7rem;
  }
}

h2 {
  font-family: "Lexend Deca";
  font-weight: bold;
  font-size: 3.0rem;
  line-height: 3.4rem;
}

h3 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.7rem;
}

h4 {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem;
}

label {
  color: $lightTextColor;
  font-size: 1.3rem;
  line-height: 1.9rem;
}


input[type=text], input[type=password], input[type=email] {
  height: 48px;
  border-radius: 12px;
  border: 1px solid #0E2E47;

  &:focus {
    background-color: $inputSelectColor;
    outline: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

}

input::placeholder {
  font-size: 1.5rem;
}
