$white: #FFFFFF;
$textColor: #000000;
$lightBackground: #F4F9FD;
$darkBackground: #2991D9;
$pink: #FFBBB7;
$inputSelectColor: #F2F8FD;
$lightTextColor: #607586;
$errorColor: #F24B4B;
$borderColor: #0E2E47;
$menuColor: #FAFAFA;
